<ion-view title="答案揭曉 A" id="page31">
    <ion-content padding="true" class="has-header">


      <div id="A2-markdown113" ng-repeat="message in messages" ng-show="data.choice1==message.ans1rig &amp;&amp; data.choice2==message.ans2rig &amp;&amp; data.choice3==message.ans3rig &amp;&amp; data.choice4==message.ans4rig &amp;&amp; data.choice5==message.ans5rig" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:20px;">Bravissimo: 100 punti!</p>
      </div>







      <form id="A2-form48" class="list">
        <div id="A2-markdown145" class="show-list-numbers-and-dots">
          <p style="color:#000000;">Prima risposta:</p>
        </div>
        <ion-item class="item-icon-left energized" id="A2-list-item10" ng-repeat="message in messages" ng-show="data.choice1==message.ans1rig">
          <i class="icon ion-happy-outline"></i>*{{data.choice1}}* e' giusto!</ion-item>
          
        <ion-item class="item-icon-left positive" id="A2-list-item18" ng-repeat="message in messages" ng-show="data.choice1!=message.ans1rig">
          <i class="icon ion-sad-outline"></i>*{{data.choice1}}* e' sbagliato</ion-item>
      </form>
      <form id="A2-form49" class="list">
        <div id="A2-markdown146" class="show-list-numbers-and-dots">
          <p style="color:#000000;">Seconda risposta:</p>
        </div>
        <ion-item class="item-icon-left energized" id="A2-list-item41" ng-repeat="message in messages" ng-show="data.choice2==message.ans2rig">
          <i class="icon ion-happy-outline"></i>*{{data.choice2}}* e' giusto!</ion-item>
        <ion-item class="item-icon-left positive" id="A2-list-item78" ng-repeat="message in messages" ng-show="data.choice2!=message.ans2rig">
          <i class="icon ion-sad-outline"></i>*{{data.choice2}}* e' sbagliato</ion-item>
      </form>
      <form id="A2-form50" class="list">
        <div id="A2-markdown147" class="show-list-numbers-and-dots">
          <p style="color:#000000;">Terza risposta:</p>
        </div>
        <ion-item class="item-icon-left energized" id="A2-list-item79" ng-repeat="message in messages" ng-show="data.choice3==message.ans3rig">
          <i class="icon ion-happy-outline"></i>*{{data.choice3}}* e' giusto!</ion-item>
        <ion-item class="item-icon-left positive" id="A2-list-item81" ng-repeat="message in messages" ng-show="data.choice3!=message.ans3rig">
          <i class="icon ion-sad-outline"></i>*{{data.choice3}}* e' sbagliato</ion-item>
      </form>
      <form id="A2-form51" class="list">
        <div id="A2-markdown148" class="show-list-numbers-and-dots">
          <p style="color:#000000;">Quarta risposta:</p>
        </div>
        <ion-item class="item-icon-left energized" id="A2-list-item84" ng-repeat="message in messages" ng-show="data.choice4==message.ans4rig">
          <i class="icon ion-happy-outline"></i>*{{data.choice4}}* e' giusto!</ion-item>
        <ion-item class="item-icon-left positive" id="A2-list-item85" ng-repeat="message in messages" ng-show="data.choice4!=message.ans4rig">
          <i class="icon ion-sad-outline"></i>*{{data.choice4}}* e' sbagliato</ion-item>
      </form>
      <form id="A2-form52" class="list">
        <div id="A2-markdown149" class="show-list-numbers-and-dots">
          <p style="color:#000000;">Quinta risposta:</p>
        </div>
        <ion-item class="item-icon-left energized" id="A2-list-item45" ng-repeat="message in messages" ng-show="data.choice5==message.ans5rig">
          <i class="icon ion-happy-outline"></i>*{{data.choice5}}* e' giusto!</ion-item>
        <ion-item class="item-icon-left positive" id="A2-list-item46" ng-repeat="message in messages" ng-show="data.choice5!=message.ans5rig">
          <i class="icon ion-sad-outline"></i>*{{data.choice5}}* e' sbagliato</ion-item>
        </form>
      
        <div class="spacer" style="width: 300px; height: 40px;"></div>
        <div id="A2-markdown150" class="show-list-numbers-and-dots">
          <p style="color:#000000;">Risposte esatte:</p>
        </div>
   
        <div class="spacer" style="width: 300px; height: 11px;"></div>
        <div id="A2-markdown151" ng-repeat="message in messages" class="show-list-numbers-and-dots">
          <h4 style="color:#000000;">{{message.que1}} {{message.ans1rig}} {{message.que4}}</h4>
        </div>
        <div id="A2-markdown152" ng-repeat="message in messages" class="show-list-numbers-and-dots">
          <h4 style="color:#000000;">{{message.que2}} {{message.ans2rig}}{{message.que5}}</h4>
        </div>
        <div id="A2-markdown153" ng-repeat="message in messages" class="show-list-numbers-and-dots">
          <h4 style="color:#000000;">{{message.que3}}{{message.ans3rig}} {{message.que6}}</h4>
        </div>
        <div id="A2-markdown154" ng-repeat="message in messages" class="show-list-numbers-and-dots">
          <h4 style="color:#000000;">{{message.que7}}{{message.ans4rig}} {{message.que8}}</h4>
        </div>
        <div id="A2-markdown155" ng-repeat="message in messages" class="show-list-numbers-and-dots">
          <h4 style="color:#000000;">{{message.que9}} {{message.ans5rig}} {{message.que10}}
          </h4>
        </div>
        <div class="spacer" style="width: 300px; height: 36px;"></div>
        <a ui-sref="B()" id="A2-button24" class="button button-positive button-block">continua a studiare!</a>
        <div class="spacer" style="height: 100px;"></div>

    </ion-content>
  </ion-view>