<ion-view title="答案揭曉 A" id="page31">
  <ion-content padding="true" class="has-header">
    <div id="A2-markdown113" ng-show="data.choice4!='寧夏夜市' &amp;&amp; data.choice5!='設有加拿大ESL課程和人文班' &amp;&amp; data.choice1=='國中部高中部高職部' &amp;&amp; data.choice2!='超過一百年' &amp;&amp; data.choice3=='可以直升'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">40 points</p>
    </div>
    <div id="A2-markdown114" ng-show="data.choice4!='寧夏夜市' &amp;&amp; data.choice5!='設有加拿大ESL課程和人文班' &amp;&amp; data.choice1=='國中部高中部高職部' &amp;&amp; data.choice2=='超過一百年' &amp;&amp; data.choice3!='可以直升'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">40 points</p>
    </div>
    <div id="A2-markdown115" ng-show="data.choice4!='寧夏夜市' &amp;&amp; data.choice5!='設有加拿大ESL課程和人文班' &amp;&amp; data.choice1!='國中部高中部高職部' &amp;&amp; data.choice2=='超過一百年' &amp;&amp; data.choice3=='可以直升'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">40 points</p>
    </div>
    <div id="A2-markdown116" ng-show="data.choice4=='寧夏夜市' &amp;&amp; data.choice5!='設有加拿大ESL課程和人文班' &amp;&amp; data.choice1!='國中部高中部高職部' &amp;&amp; data.choice2!='超過一百年' &amp;&amp; data.choice3=='可以直升'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">40 points</p>
    </div>
    <div id="A2-markdown117" ng-show="data.choice4!='寧夏夜市' &amp;&amp; data.choice5=='設有加拿大ESL課程和人文班' &amp;&amp; data.choice1!='國中部高中部高職部' &amp;&amp; data.choice2!='超過一百年' &amp;&amp; data.choice3=='可以直升'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">40 points</p>
    </div>
    <div id="A2-markdown118" ng-show="data.choice4!='寧夏夜市' &amp;&amp; data.choice5=='設有加拿大ESL課程和人文班' &amp;&amp; data.choice1!='國中部高中部高職部' &amp;&amp; data.choice2=='超過一百年' &amp;&amp; data.choice3!='可以直升'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">40 points</p>
    </div>
    <div id="A2-markdown119" ng-show="data.choice4!='寧夏夜市' &amp;&amp; data.choice5=='設有加拿大ESL課程和人文班' &amp;&amp; data.choice1=='國中部高中部高職部' &amp;&amp; data.choice2!='超過一百年' &amp;&amp; data.choice3!='可以直升'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">40 points</p>
    </div>
    <div id="A2-markdown120" ng-show="data.choice4=='寧夏夜市' &amp;&amp; data.choice5!='設有加拿大ESL課程和人文班' &amp;&amp; data.choice1=='國中部高中部高職部' &amp;&amp; data.choice2!='超過一百年' &amp;&amp; data.choice3!='可以直升'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">40 points</p>
    </div>
    <div id="A2-markdown121" ng-show="data.choice4=='寧夏夜市' &amp;&amp; data.choice5!='設有加拿大ESL課程和人文班' &amp;&amp; data.choice1!='國中部高中部高職部' &amp;&amp; data.choice2=='超過一百年' &amp;&amp; data.choice3!='可以直升'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">40 points</p>
    </div>
    <div id="A2-markdown122" ng-show="data.choice4=='寧夏夜市' &amp;&amp; data.choice5=='設有加拿大ESL課程和人文班' &amp;&amp; data.choice1!='國中部高中部高職部' &amp;&amp; data.choice2!='超過一百年' &amp;&amp; data.choice3!='可以直升'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">40 points</p>
    </div>
    <div id="A2-markdown123" ng-show="data.choice4=='寧夏夜市' &amp;&amp; data.choice5=='設有加拿大ESL課程和人文班' &amp;&amp; data.choice1!='國中部高中部高職部' &amp;&amp; data.choice2=='超過一百年' &amp;&amp; data.choice3!='可以直升'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">60 points</p>
    </div>
    <div id="A2-markdown124" ng-show="data.choice4=='寧夏夜市' &amp;&amp; data.choice5=='設有加拿大ESL課程和人文班' &amp;&amp; data.choice1!='國中部高中部高職部' &amp;&amp; data.choice2!='超過一百年' &amp;&amp; data.choice3=='可以直升'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">60 points</p>
    </div>
    <div id="A2-markdown125" ng-show="data.choice4=='寧夏夜市' &amp;&amp; data.choice5!='設有加拿大ESL課程和人文班' &amp;&amp; data.choice1=='國中部高中部高職部' &amp;&amp; data.choice2!='超過一百年' &amp;&amp; data.choice3=='可以直升'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">60 points</p>
    </div>
    <div id="A2-markdown126" ng-show="data.choice4=='寧夏夜市' &amp;&amp; data.choice5!='設有加拿大ESL課程和人文班' &amp;&amp; data.choice1=='國中部高中部高職部' &amp;&amp; data.choice2=='超過一百年' &amp;&amp; data.choice3!='可以直升'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">60 points</p>
    </div>
    <div id="A2-markdown127" ng-show="data.choice4=='寧夏夜市' &amp;&amp; data.choice5=='設有加拿大ESL課程和人文班' &amp;&amp; data.choice1=='國中部高中部高職部' &amp;&amp; data.choice2!='超過一百年' &amp;&amp; data.choice3!='可以直升'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">60 points</p>
    </div>
    <div id="A2-markdown128" ng-show="data.choice4!='寧夏夜市' &amp;&amp; data.choice5=='設有加拿大ESL課程和人文班' &amp;&amp; data.choice1=='國中部高中部高職部' &amp;&amp; data.choice2=='超過一百年' &amp;&amp; data.choice3!='可以直升'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">60 points</p>
    </div>
    <div id="A2-markdown129" ng-show="data.choice4!='寧夏夜市' &amp;&amp; data.choice5=='設有加拿大ESL課程和人文班' &amp;&amp; data.choice1=='國中部高中部高職部' &amp;&amp; data.choice2!='超過一百年' &amp;&amp; data.choice3=='可以直升'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">60 points</p>
    </div>
    <div id="A2-markdown130" ng-show="data.choice4!='寧夏夜市' &amp;&amp; data.choice5!='設有加拿大ESL課程和人文班' &amp;&amp; data.choice1=='國中部高中部高職部' &amp;&amp; data.choice2=='超過一百年' &amp;&amp; data.choice3=='可以直升'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">60 points</p>
    </div>
    <div id="A2-markdown131" ng-show="data.choice4!='寧夏夜市' &amp;&amp; data.choice5=='設有加拿大ESL課程和人文班' &amp;&amp; data.choice1!='國中部高中部高職部' &amp;&amp; data.choice2=='超過一百年' &amp;&amp; data.choice3=='可以直升'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">60 points</p>
    </div>
    <div id="A2-markdown132" ng-show="data.choice4=='寧夏夜市' &amp;&amp; data.choice5!='設有加拿大ESL課程和人文班' &amp;&amp; data.choice1!='國中部高中部高職部' &amp;&amp; data.choice2=='超過一百年' &amp;&amp; data.choice3=='可以直升'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">60 points</p>
    </div>
    <div id="A2-markdown133" ng-show="data.choice4=='寧夏夜市' &amp;&amp; data.choice5=='設有加拿大ESL課程和人文班' &amp;&amp; data.choice1!='國中部高中部高職部' &amp;&amp; data.choice2=='超過一百年' &amp;&amp; data.choice3=='可以直升'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">80 points</p>
    </div>
    <div id="A2-markdown134" ng-show="data.choice1=='國中部高中部高職部' &amp;&amp; data.choice2!='超過一百年' &amp;&amp; data.choice3!='可以直升' &amp;&amp; data.choice4!='寧夏夜市' &amp;&amp; data.choice5!='設有加拿大ESL課程和人文班'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">20 points</p>
    </div>
    <div id="A2-markdown135" ng-show="data.choice4=='寧夏夜市' &amp;&amp; data.choice5=='設有加拿大ESL課程和人文班' &amp;&amp; data.choice1=='國中部高中部高職部' &amp;&amp; data.choice2!='超過一百年' &amp;&amp; data.choice3=='可以直升'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">80 points</p>
    </div>
    <div id="A2-markdown136" ng-show="data.choice4!='寧夏夜市' &amp;&amp; data.choice5!='設有加拿大ESL課程和人文班' &amp;&amp; data.choice1!='國中部高中部高職部' &amp;&amp; data.choice2=='超過一百年' &amp;&amp; data.choice3!='可以直升'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">20 points</p>
    </div>
    <div id="A2-markdown137" ng-show="data.choice4=='寧夏夜市' &amp;&amp; data.choice5=='設有加拿大ESL課程和人文班' &amp;&amp; data.choice1=='國中部高中部高職部' &amp;&amp; data.choice2=='超過一百年' &amp;&amp; data.choice3!='可以直升'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">80 points</p>
    </div>
    <div id="A2-markdown138" ng-show="data.choice4!='寧夏夜市' &amp;&amp; data.choice5!='設有加拿大ESL課程和人文班' &amp;&amp; data.choice1!='國中部高中部高職部' &amp;&amp; data.choice2!='超過一百年' &amp;&amp; data.choice3=='可以直升'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">20 points</p>
    </div>
    <div id="A2-markdown139" ng-show="data.choice4!='寧夏夜市' &amp;&amp; data.choice5=='設有加拿大ESL課程和人文班' &amp;&amp; data.choice1=='國中部高中部高職部' &amp;&amp; data.choice2=='超過一百年' &amp;&amp; data.choice3=='可以直升'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">80 points</p>
    </div>
    <div id="A2-markdown140" ng-show="data.choice4=='寧夏夜市' &amp;&amp; data.choice5!='設有加拿大ESL課程和人文班' &amp;&amp; data.choice1!='國中部高中部高職部' &amp;&amp; data.choice2!='超過一百年' &amp;&amp; data.choice3!='可以直升'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">20 points</p>
    </div>
    <div id="A2-markdown141" ng-show="data.choice4=='寧夏夜市' &amp;&amp; data.choice5!='設有加拿大ESL課程和人文班' &amp;&amp; data.choice1=='國中部高中部高職部' &amp;&amp; data.choice2=='超過一百年' &amp;&amp; data.choice3=='可以直升'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">80 points</p>
    </div>
    <div id="A2-markdown142" ng-show="data.choice4!='寧夏夜市' &amp;&amp; data.choice5=='設有加拿大ESL課程和人文班' &amp;&amp; data.choice1!='國中部高中部高職部' &amp;&amp; data.choice2!='超過一百年' &amp;&amp; data.choice3!='可以直升'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">20 points</p>
    </div>
    <div id="A2-markdown143" ng-show="data.choice4!='寧夏夜市' &amp;&amp; data.choice5!='設有加拿大ESL課程和人文班' &amp;&amp; data.choice1!='國中部高中部高職部' &amp;&amp; data.choice2!='超過一百年' &amp;&amp; data.choice3!='可以直升'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">0 points</p>
    </div>
    <div id="A2-markdown144" ng-show="data.choice4=='寧夏夜市' &amp;&amp; data.choice5=='設有加拿大ESL課程和人文班' &amp;&amp; data.choice1=='國中部高中部高職部' &amp;&amp; data.choice2=='超過一百年' &amp;&amp; data.choice3=='可以直升'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">Great! 100 points</p>
    </div>
    <form id="A2-form48" class="list">
      <div id="A2-markdown145" class="show-list-numbers-and-dots">
        <p style="color:#000000;">First answer:</p>
      </div>
      <ion-item class="item-icon-left energized" id="A2-list-item37" ng-show="data.choice1=='國中部高中部高職部'">
        <i class="icon ion-happy-outline"></i>*{{data.choice1}}* is correct!</ion-item>
      <ion-item class="item-icon-left positive" id="A2-list-item38" ng-show="data.choice1!='國中部高中部高職部'">
        <i class="icon ion-sad-outline"></i>*{{data.choice1}}* is incorrect</ion-item>
    </form>
    <form id="A2-form49" class="list">
      <div id="A2-markdown146" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Second answer:</p>
      </div>
      <ion-item class="item-icon-left energized" id="A2-list-item39" ng-show="data.choice2=='超過一百年'">
        <i class="icon ion-happy-outline"></i>*{{data.choice2}}* is correct!</ion-item>
      <ion-item class="item-icon-left positive" id="A2-list-item40" ng-show="data.choice2!='超過一百年'">
        <i class="icon ion-sad-outline"></i>*{{data.choice2}}* is incorrect</ion-item>
    </form>
    <form id="A2-form50" class="list">
      <div id="A2-markdown147" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Third answer:</p>
      </div>
      <ion-item class="item-icon-left energized" id="A2-list-item41" ng-show="data.choice3=='可以直升'">
        <i class="icon ion-happy-outline"></i>*{{data.choice3}}* is correct!</ion-item>
      <ion-item class="item-icon-left positive" id="A2-list-item42" ng-show="data.choice3!='可以直升'">
        <i class="icon ion-sad-outline"></i>*{{data.choice3}}* is incorrect</ion-item>
    </form>
    <form id="A2-form51" class="list">
      <div id="A2-markdown148" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Fourth answer:</p>
      </div>
      <ion-item class="item-icon-left energized" id="A2-list-item43" ng-show="data.choice4=='寧夏夜市'">
        <i class="icon ion-happy-outline"></i>*{{data.choice4}}* is correct!</ion-item>
      <ion-item class="item-icon-left positive" id="A2-list-item44" ng-show="data.choice4!='寧夏夜市'">
        <i class="icon ion-sad-outline"></i>*{{data.choice4}}* is incorrect</ion-item>
    </form>
    <form id="A2-form52" class="list">
      <div id="A2-markdown149" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Fifth answer:</p>
      </div>
      <ion-item class="item-icon-left energized" id="A2-list-item45" ng-show="data.choice5=='設有加拿大ESL課程和人文班'">
        <i class="icon ion-happy-outline"></i>*{{data.choice5}}* is correct!</ion-item>
      <ion-item class="item-icon-left positive" id="A2-list-item46" ng-show="data.choice5!='設有加拿大ESL課程和人文班'">
        <i class="icon ion-sad-outline"></i>*{{data.choice5}}* is incorrect</ion-item>
    </form>
    <div class="spacer" style="height: 100px;"></div>
    <div id="A2-markdown150" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Correct answers:</p>
    </div>
    <div id="A2-markdown151" ng-repeat="message in messages" class="show-list-numbers-and-dots">
      <p style="color:#000000;">{{message.que1}}{{message.ans13}}</p>
    </div>
    <div id="A2-markdown152" ng-repeat="message in messages" class="show-list-numbers-and-dots">
      <p style="color:#000000;">{{message.que2}}{{message.ans24}}</p>
    </div>
    <div id="A2-markdown153" ng-repeat="message in messages" class="show-list-numbers-and-dots">
      <p style="color:#000000;">{{message.que3}}{{message.ans30}}</p>
    </div>
    <div id="A2-markdown154" ng-repeat="message in messages" class="show-list-numbers-and-dots">
      <p style="color:#000000;">{{message.que7}}{{message.ans44}}</p>
    </div>
    <div id="A2-markdown155" ng-repeat="message in messages" class="show-list-numbers-and-dots">
      <p style="color:#000000;">{{message.que9}}{{message.ans53}}</p>
    </div>
    <div class="spacer" style="width: 300px; height: 50px;"></div>
    <a ui-sref="B()" id="A2-button36" class="button button-positive button-block">更多</a>
    <div class="spacer" style="height: 100px;"></div>
  </ion-content>
</ion-view>