<ion-view title="答案揭曉 B" id="page32">
  <ion-content padding="true" class="has-header">
    <div id="B2-markdown156" ng-show="data.choice4!='英語夏令營-ESL夏令營-探索課程-游泳課-暑期輔導課' &amp;&amp; data.choice5!='有收男生，國中部' &amp;&amp; data.choice1=='英文重點班和菁英班' &amp;&amp; data.choice2!='應用日文,應用英文和商業服務' &amp;&amp; data.choice3=='生命教育-探索課程-國際教育-閱讀推廣'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">40 points</p>
    </div>
    <div id="B2-markdown157" ng-show="data.choice4!='英語夏令營-ESL夏令營-探索課程-游泳課-暑期輔導課' &amp;&amp; data.choice5!='有收男生，國中部' &amp;&amp; data.choice1=='英文重點班和菁英班' &amp;&amp; data.choice2=='應用日文,應用英文和商業服務' &amp;&amp; data.choice3!='生命教育-探索課程-國際教育-閱讀推廣'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">40 points</p>
    </div>
    <div id="B2-markdown158" ng-show="data.choice4!='英語夏令營-ESL夏令營-探索課程-游泳課-暑期輔導課' &amp;&amp; data.choice5!='有收男生，國中部' &amp;&amp; data.choice1!='英文重點班和菁英班' &amp;&amp; data.choice2=='應用日文,應用英文和商業服務' &amp;&amp; data.choice3=='生命教育-探索課程-國際教育-閱讀推廣'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">40 points</p>
    </div>
    <div id="B2-markdown159" ng-show="data.choice4=='英語夏令營-ESL夏令營-探索課程-游泳課-暑期輔導課' &amp;&amp; data.choice5!='有收男生，國中部' &amp;&amp; data.choice1!='英文重點班和菁英班' &amp;&amp; data.choice2!='應用日文,應用英文和商業服務' &amp;&amp; data.choice3=='生命教育-探索課程-國際教育-閱讀推廣'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">40 points</p>
    </div>
    <div id="B2-markdown160" ng-show="data.choice4!='英語夏令營-ESL夏令營-探索課程-游泳課-暑期輔導課' &amp;&amp; data.choice5=='有收男生，國中部' &amp;&amp; data.choice1!='英文重點班和菁英班' &amp;&amp; data.choice2!='應用日文,應用英文和商業服務' &amp;&amp; data.choice3=='生命教育-探索課程-國際教育-閱讀推廣'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">40 points</p>
    </div>
    <div id="B2-markdown161" ng-show="data.choice4!='英語夏令營-ESL夏令營-探索課程-游泳課-暑期輔導課' &amp;&amp; data.choice5=='有收男生，國中部' &amp;&amp; data.choice1!='英文重點班和菁英班' &amp;&amp; data.choice2=='應用日文,應用英文和商業服務' &amp;&amp; data.choice3!='生命教育-探索課程-國際教育-閱讀推廣'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">40 points</p>
    </div>
    <div id="B2-markdown162" ng-show="data.choice4!='英語夏令營-ESL夏令營-探索課程-游泳課-暑期輔導課' &amp;&amp; data.choice5=='有收男生，國中部' &amp;&amp; data.choice1=='英文重點班和菁英班' &amp;&amp; data.choice2!='應用日文,應用英文和商業服務' &amp;&amp; data.choice3!='生命教育-探索課程-國際教育-閱讀推廣'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">40 points</p>
    </div>
    <div id="B2-markdown163" ng-show="data.choice4=='英語夏令營-ESL夏令營-探索課程-游泳課-暑期輔導課' &amp;&amp; data.choice5!='有收男生，國中部' &amp;&amp; data.choice1=='英文重點班和菁英班' &amp;&amp; data.choice2!='應用日文,應用英文和商業服務' &amp;&amp; data.choice3!='生命教育-探索課程-國際教育-閱讀推廣'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">40 points</p>
    </div>
    <div id="B2-markdown164" ng-show="data.choice4=='英語夏令營-ESL夏令營-探索課程-游泳課-暑期輔導課' &amp;&amp; data.choice5!='有收男生，國中部' &amp;&amp; data.choice1!='英文重點班和菁英班' &amp;&amp; data.choice2=='應用日文,應用英文和商業服務' &amp;&amp; data.choice3!='生命教育-探索課程-國際教育-閱讀推廣'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">40 points</p>
    </div>
    <div id="B2-markdown165" ng-show="data.choice4=='英語夏令營-ESL夏令營-探索課程-游泳課-暑期輔導課' &amp;&amp; data.choice5=='有收男生，國中部' &amp;&amp; data.choice1!='英文重點班和菁英班' &amp;&amp; data.choice2!='應用日文,應用英文和商業服務' &amp;&amp; data.choice3!='生命教育-探索課程-國際教育-閱讀推廣'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">40 points</p>
    </div>
    <div id="B2-markdown166" ng-show="data.choice4=='英語夏令營-ESL夏令營-探索課程-游泳課-暑期輔導課' &amp;&amp; data.choice5=='有收男生，國中部' &amp;&amp; data.choice1!='英文重點班和菁英班' &amp;&amp; data.choice2=='應用日文,應用英文和商業服務' &amp;&amp; data.choice3!='生命教育-探索課程-國際教育-閱讀推廣'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">60 points</p>
    </div>
    <div id="B2-markdown167" ng-show="data.choice4=='英語夏令營-ESL夏令營-探索課程-游泳課-暑期輔導課' &amp;&amp; data.choice5=='有收男生，國中部' &amp;&amp; data.choice1!='英文重點班和菁英班' &amp;&amp; data.choice2!='應用日文,應用英文和商業服務' &amp;&amp; data.choice3=='生命教育-探索課程-國際教育-閱讀推廣'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">60 points</p>
    </div>
    <div id="B2-markdown168" ng-show="data.choice4=='英語夏令營-ESL夏令營-探索課程-游泳課-暑期輔導課' &amp;&amp; data.choice5!='有收男生，國中部' &amp;&amp; data.choice1=='英文重點班和菁英班' &amp;&amp; data.choice2!='應用日文,應用英文和商業服務' &amp;&amp; data.choice3=='生命教育-探索課程-國際教育-閱讀推廣'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">60 points</p>
    </div>
    <div id="B2-markdown169" ng-show="data.choice4=='英語夏令營-ESL夏令營-探索課程-游泳課-暑期輔導課' &amp;&amp; data.choice5!='有收男生，國中部' &amp;&amp; data.choice1=='英文重點班和菁英班' &amp;&amp; data.choice2=='應用日文,應用英文和商業服務' &amp;&amp; data.choice3!='生命教育-探索課程-國際教育-閱讀推廣'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">60 points</p>
    </div>
    <div id="B2-markdown170" ng-show="data.choice4=='英語夏令營-ESL夏令營-探索課程-游泳課-暑期輔導課' &amp;&amp; data.choice5=='有收男生，國中部' &amp;&amp; data.choice1=='英文重點班和菁英班' &amp;&amp; data.choice2!='應用日文,應用英文和商業服務' &amp;&amp; data.choice3!='生命教育-探索課程-國際教育-閱讀推廣'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">60 points</p>
    </div>
    <div id="B2-markdown171" ng-show="data.choice4!='英語夏令營-ESL夏令營-探索課程-游泳課-暑期輔導課' &amp;&amp; data.choice5=='有收男生，國中部' &amp;&amp; data.choice1=='英文重點班和菁英班' &amp;&amp; data.choice2=='應用日文,應用英文和商業服務' &amp;&amp; data.choice3!='生命教育-探索課程-國際教育-閱讀推廣'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">60 points</p>
    </div>
    <div id="B2-markdown172" ng-show="data.choice4!='英語夏令營-ESL夏令營-探索課程-游泳課-暑期輔導課' &amp;&amp; data.choice5=='有收男生，國中部' &amp;&amp; data.choice1=='英文重點班和菁英班' &amp;&amp; data.choice2!='應用日文,應用英文和商業服務' &amp;&amp; data.choice3=='生命教育-探索課程-國際教育-閱讀推廣'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">60 points</p>
    </div>
    <div id="B2-markdown173" ng-show="data.choice4!='英語夏令營-ESL夏令營-探索課程-游泳課-暑期輔導課' &amp;&amp; data.choice5!='有收男生，國中部' &amp;&amp; data.choice1=='英文重點班和菁英班' &amp;&amp; data.choice2=='應用日文,應用英文和商業服務' &amp;&amp; data.choice3=='生命教育-探索課程-國際教育-閱讀推廣'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">60 points</p>
    </div>
    <div id="B2-markdown174" ng-show="data.choice4!='英語夏令營-ESL夏令營-探索課程-游泳課-暑期輔導課' &amp;&amp; data.choice5=='有收男生，國中部' &amp;&amp; data.choice1!='英文重點班和菁英班' &amp;&amp; data.choice2=='應用日文,應用英文和商業服務' &amp;&amp; data.choice3=='生命教育-探索課程-國際教育-閱讀推廣'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">60 points</p>
    </div>
    <div id="B2-markdown175" ng-show="data.choice4=='英語夏令營-ESL夏令營-探索課程-游泳課-暑期輔導課' &amp;&amp; data.choice5!='有收男生，國中部' &amp;&amp; data.choice1!='英文重點班和菁英班' &amp;&amp; data.choice2=='應用日文,應用英文和商業服務' &amp;&amp; data.choice3=='生命教育-探索課程-國際教育-閱讀推廣'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">60 points</p>
    </div>
    <div id="B2-markdown176" ng-show="data.choice4=='英語夏令營-ESL夏令營-探索課程-游泳課-暑期輔導課' &amp;&amp; data.choice5=='有收男生，國中部' &amp;&amp; data.choice1!='英文重點班和菁英班' &amp;&amp; data.choice2=='應用日文,應用英文和商業服務' &amp;&amp; data.choice3=='生命教育-探索課程-國際教育-閱讀推廣'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">80 points</p>
    </div>
    <div id="B2-markdown177" ng-show="data.choice1=='英文重點班和菁英班' &amp;&amp; data.choice2!='應用日文,應用英文和商業服務' &amp;&amp; data.choice3!='生命教育-探索課程-國際教育-閱讀推廣' &amp;&amp; data.choice4!='英語夏令營-ESL夏令營-探索課程-游泳課-暑期輔導課' &amp;&amp; data.choice5!='有收男生，國中部'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">20 points</p>
    </div>
    <div id="B2-markdown178" ng-show="data.choice4=='英語夏令營-ESL夏令營-探索課程-游泳課-暑期輔導課' &amp;&amp; data.choice5=='有收男生，國中部' &amp;&amp; data.choice1=='英文重點班和菁英班' &amp;&amp; data.choice2!='應用日文,應用英文和商業服務' &amp;&amp; data.choice3=='生命教育-探索課程-國際教育-閱讀推廣'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">80 points</p>
    </div>
    <div id="B2-markdown179" ng-show="data.choice4!='英語夏令營-ESL夏令營-探索課程-游泳課-暑期輔導課' &amp;&amp; data.choice5!='有收男生，國中部' &amp;&amp; data.choice1!='英文重點班和菁英班' &amp;&amp; data.choice2=='應用日文,應用英文和商業服務' &amp;&amp; data.choice3!='生命教育-探索課程-國際教育-閱讀推廣'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">20 points</p>
    </div>
    <div id="B2-markdown180" ng-show="data.choice4=='英語夏令營-ESL夏令營-探索課程-游泳課-暑期輔導課' &amp;&amp; data.choice5=='有收男生，國中部' &amp;&amp; data.choice1=='英文重點班和菁英班' &amp;&amp; data.choice2=='應用日文,應用英文和商業服務' &amp;&amp; data.choice3!='生命教育-探索課程-國際教育-閱讀推廣'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">80 points</p>
    </div>
    <div id="B2-markdown181" ng-show="data.choice4!='英語夏令營-ESL夏令營-探索課程-游泳課-暑期輔導課' &amp;&amp; data.choice5!='有收男生，國中部' &amp;&amp; data.choice1!='英文重點班和菁英班' &amp;&amp; data.choice2!='應用日文,應用英文和商業服務' &amp;&amp; data.choice3=='生命教育-探索課程-國際教育-閱讀推廣'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">20 points</p>
    </div>
    <div id="B2-markdown182" ng-show="data.choice4!='英語夏令營-ESL夏令營-探索課程-游泳課-暑期輔導課' &amp;&amp; data.choice5=='有收男生，國中部' &amp;&amp; data.choice1=='英文重點班和菁英班' &amp;&amp; data.choice2=='應用日文,應用英文和商業服務' &amp;&amp; data.choice3=='生命教育-探索課程-國際教育-閱讀推廣'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">80 points</p>
    </div>
    <div id="B2-markdown183" ng-show="data.choice4=='英語夏令營-ESL夏令營-探索課程-游泳課-暑期輔導課' &amp;&amp; data.choice5!='有收男生，國中部' &amp;&amp; data.choice1!='英文重點班和菁英班' &amp;&amp; data.choice2!='應用日文,應用英文和商業服務' &amp;&amp; data.choice3!='生命教育-探索課程-國際教育-閱讀推廣'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">20 points</p>
    </div>
    <div id="B2-markdown184" ng-show="data.choice4=='英語夏令營-ESL夏令營-探索課程-游泳課-暑期輔導課' &amp;&amp; data.choice5!='有收男生，國中部' &amp;&amp; data.choice1=='英文重點班和菁英班' &amp;&amp; data.choice2=='應用日文,應用英文和商業服務' &amp;&amp; data.choice3=='生命教育-探索課程-國際教育-閱讀推廣'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">80 points</p>
    </div>
    <div id="B2-markdown185" ng-show="data.choice4!='英語夏令營-ESL夏令營-探索課程-游泳課-暑期輔導課' &amp;&amp; data.choice5=='有收男生，國中部' &amp;&amp; data.choice1!='英文重點班和菁英班' &amp;&amp; data.choice2!='應用日文,應用英文和商業服務' &amp;&amp; data.choice3!='生命教育-探索課程-國際教育-閱讀推廣'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">20 points</p>
    </div>
    <div id="B2-markdown186" ng-show="data.choice4!='英語夏令營-ESL夏令營-探索課程-游泳課-暑期輔導課' &amp;&amp; data.choice5!='有收男生，國中部' &amp;&amp; data.choice1!='英文重點班和菁英班' &amp;&amp; data.choice2!='應用日文,應用英文和商業服務' &amp;&amp; data.choice3!='生命教育-探索課程-國際教育-閱讀推廣'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">0 points</p>
    </div>
    <div id="B2-markdown187" ng-show="data.choice4=='英語夏令營-ESL夏令營-探索課程-游泳課-暑期輔導課' &amp;&amp; data.choice5=='有收男生，國中部' &amp;&amp; data.choice1=='英文重點班和菁英班' &amp;&amp; data.choice2=='應用日文,應用英文和商業服務' &amp;&amp; data.choice3=='生命教育-探索課程-國際教育-閱讀推廣'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">Great! 100 points</p>
    </div>
    <form id="B2-form53" class="list">
      <div id="B2-markdown188" class="show-list-numbers-and-dots">
        <p style="color:#000000;">First answer:</p>
      </div>
      <ion-item class="item-icon-left energized" id="B2-list-item47" ng-show="data.choice1=='英文重點班和菁英班'">
        <i class="icon ion-happy-outline"></i>*{{data.choice1}}* is correct!</ion-item>
      <ion-item class="item-icon-left positive" id="B2-list-item48" ng-show="data.choice1!='英文重點班和菁英班'">
        <i class="icon ion-sad-outline"></i>*{{data.choice1}}* is incorrect</ion-item>
    </form>
    <form id="B2-form54" class="list">
      <div id="B2-markdown189" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Second answer:</p>
      </div>
      <ion-item class="item-icon-left energized" id="B2-list-item49" ng-show="data.choice2=='應用日文,應用英文和商業服務'">
        <i class="icon ion-happy-outline"></i>*{{data.choice2}}* is correct!</ion-item>
      <ion-item class="item-icon-left positive" id="B2-list-item50" ng-show="data.choice2!='應用日文,應用英文和商業服務'">
        <i class="icon ion-sad-outline"></i>*{{data.choice2}}* is incorrect</ion-item>
    </form>
    <form id="B2-form55" class="list">
      <div id="B2-markdown190" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Third answer:</p>
      </div>
      <ion-item class="item-icon-left energized" id="B2-list-item51" ng-show="data.choice3=='生命教育-探索課程-國際教育-閱讀推廣'">
        <i class="icon ion-happy-outline"></i>*{{data.choice3}}* is correct!</ion-item>
      <ion-item class="item-icon-left positive" id="B2-list-item52" ng-show="data.choice3!='生命教育-探索課程-國際教育-閱讀推廣'">
        <i class="icon ion-sad-outline"></i>*{{data.choice3}}* is incorrect</ion-item>
    </form>
    <form id="B2-form56" class="list">
      <div id="B2-markdown191" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Fourth answer:</p>
      </div>
      <ion-item class="item-icon-left energized" id="B2-list-item53" ng-show="data.choice4=='英語夏令營-ESL夏令營-探索課程-游泳課-暑期輔導課'">
        <i class="icon ion-happy-outline"></i>*{{data.choice4}}* is correct!</ion-item>
      <ion-item class="item-icon-left positive" id="B2-list-item54" ng-show="data.choice4!='英語夏令營-ESL夏令營-探索課程-游泳課-暑期輔導課'">
        <i class="icon ion-sad-outline"></i>*{{data.choice4}}* is incorrect</ion-item>
    </form>
    <form id="B2-form57" class="list">
      <div id="B2-markdown192" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Fifth answer:</p>
      </div>
      <ion-item class="item-icon-left energized" id="B2-list-item55" ng-show="data.choice5=='有收男生，國中部'">
        <i class="icon ion-happy-outline"></i>*{{data.choice5}}* is correct!</ion-item>
      <ion-item class="item-icon-left positive" id="B2-list-item56" ng-show="data.choice5!='有收男生，國中部'">
        <i class="icon ion-sad-outline"></i>*{{data.choice5}}* is incorrect</ion-item>
    </form>
    <div class="spacer" style="height: 100px;"></div>
    <div id="B2-markdown193" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Correct answers:</p>
    </div>
    <div id="B2-markdown194" ng-repeat="message in messages" class="show-list-numbers-and-dots">
      <p style="color:#000000;">{{message.que1}}{{message.ans13}}</p>
    </div>
    <div id="B2-markdown195" ng-repeat="message in messages" class="show-list-numbers-and-dots">
      <p style="color:#000000;">{{message.que2}}{{message.ans20}}</p>
    </div>
    <div id="B2-markdown196" ng-repeat="message in messages" class="show-list-numbers-and-dots">
      <p style="color:#000000;">{{message.que3}}{{message.ans31}}</p>
    </div>
    <div id="B2-markdown197" ng-repeat="message in messages" class="show-list-numbers-and-dots">
      <p style="color:#000000;">{{message.que7}}{{message.ans44}}</p>
    </div>
    <div id="B2-markdown198" ng-repeat="message in messages" class="show-list-numbers-and-dots">
      <p style="color:#000000;">{{message.que9}}{{message.ans54}}</p>
    </div>
    <div class="spacer" style="width: 300px; height: 47px;"></div>
    <a ui-sref="C()" id="B2-button35" class="button button-positive button-block">更多</a>
    <div class="spacer" style="height: 100px;"></div>
  </ion-content>
</ion-view>