<ion-view title="答案揭曉 B" id="page32">
    <ion-content padding="true" class="has-header">
      <div id="B2-markdown368" ng-show="data.choice4!='portano' &amp;&amp; data.choice5!='si' &amp;&amp; data.choice1=='termina' &amp;&amp; data.choice2!='parte' &amp;&amp; data.choice3!='Vietato'" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:20px;">20 punti</p>
      </div>
      <div id="B2-markdown369" ng-show="data.choice4!='portano' &amp;&amp; data.choice5!='si' &amp;&amp; data.choice1!='termina' &amp;&amp; data.choice2=='parte' &amp;&amp; data.choice3!='Vietato'" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:20px;">20 punti</p>
      </div>
      <div id="B2-markdown370" ng-show="data.choice4!='portano' &amp;&amp; data.choice5!='si' &amp;&amp; data.choice1!='termina' &amp;&amp; data.choice2!='parte' &amp;&amp; data.choice3=='Vietato'" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:20px;">20 punti</p>
      </div>
      <div id="B2-markdown371" ng-show="data.choice4=='portano' &amp;&amp; data.choice5!='si' &amp;&amp; data.choice1!='termina' &amp;&amp; data.choice2!='parte' &amp;&amp; data.choice3!='Vietato'" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:20px;">20 punti</p>
      </div>
      <div id="B2-markdown372" ng-show="data.choice4!='portano' &amp;&amp; data.choice5=='si' &amp;&amp; data.choice1!='termina' &amp;&amp; data.choice2!='parte' &amp;&amp; data.choice3!='Vietato'" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:20px;">20 punti</p>
      </div>
      <div id="B2-markdown373" ng-show="data.choice4=='portano' &amp;&amp; data.choice5=='si' &amp;&amp; data.choice1!='termina' &amp;&amp; data.choice2!='parte' &amp;&amp; data.choice3!='Vietato'" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:20px;">40 punti</p>
      </div>
      <div id="B2-markdown374" ng-show="data.choice4=='portano' &amp;&amp; data.choice5!='si' &amp;&amp; data.choice1=='termina' &amp;&amp; data.choice2!='parte' &amp;&amp; data.choice3!='Vietato'" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:20px;">40 punti</p>
      </div>
      <div id="B2-markdown375" ng-show="data.choice4=='portano' &amp;&amp; data.choice5!='si' &amp;&amp; data.choice1!='termina' &amp;&amp; data.choice2=='parte' &amp;&amp; data.choice3!='Vietato'" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:20px;">40 punti</p>
      </div>
      <div id="B2-markdown376" ng-show="data.choice4=='portano' &amp;&amp; data.choice5!='si' &amp;&amp; data.choice1!='termina' &amp;&amp; data.choice2!='parte' &amp;&amp; data.choice3=='Vietato'" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:20px;">40 punti</p>
      </div>
      <div id="B2-markdown377" ng-show="data.choice4!='portano' &amp;&amp; data.choice5=='si' &amp;&amp; data.choice1=='termina' &amp;&amp; data.choice2!='parte' &amp;&amp; data.choice3!='Vietato'" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:20px;">40 punti</p>
      </div>
      <div id="B2-markdown378" ng-show="data.choice4!='portano' &amp;&amp; data.choice5=='si' &amp;&amp; data.choice1!='termina' &amp;&amp; data.choice2=='parte' &amp;&amp; data.choice3!='Vietato'" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:20px;">40 punti</p>
      </div>
      <div id="B2-markdown379" ng-show="data.choice4!='portano' &amp;&amp; data.choice5=='si' &amp;&amp; data.choice1!='termina' &amp;&amp; data.choice2!='parte' &amp;&amp; data.choice3=='Vietato'" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:20px;">40 punti</p>
      </div>
      <div id="B2-markdown380" ng-show="data.choice4!='portano' &amp;&amp; data.choice5!='si' &amp;&amp; data.choice1=='termina' &amp;&amp; data.choice2=='parte' &amp;&amp; data.choice3!='Vietato'" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:20px;">40 punti</p>
      </div>
      <div id="B2-markdown381" ng-show="data.choice4!='portano' &amp;&amp; data.choice5!='si' &amp;&amp; data.choice1=='termina' &amp;&amp; data.choice2!='parte' &amp;&amp; data.choice3=='Vietato'" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:20px;">40 punti</p>
      </div>
      <div id="B2-markdown382" ng-show="data.choice4!='portano' &amp;&amp; data.choice5!='si' &amp;&amp; data.choice1!='termina' &amp;&amp; data.choice2=='parte' &amp;&amp; data.choice3=='Vietato'" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:20px;">40 punti</p>
      </div>
      <div id="B2-markdown383" ng-show="data.choice4!='portano' &amp;&amp; data.choice5!='si' &amp;&amp; data.choice1=='termina' &amp;&amp; data.choice2=='parte' &amp;&amp; data.choice3=='Vietato'" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:20px;">60 punti</p>
      </div>
      <div id="B2-markdown384" ng-show="data.choice4!='portano' &amp;&amp; data.choice5=='si' &amp;&amp; data.choice1!='termina' &amp;&amp; data.choice2=='parte' &amp;&amp; data.choice3=='Vietato'" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:20px;">60 punti</p>
      </div>
      <div id="B2-markdown385" ng-show="data.choice4!='portano' &amp;&amp; data.choice5=='si' &amp;&amp; data.choice1=='termina' &amp;&amp; data.choice2!='parte' &amp;&amp; data.choice3=='Vietato'" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:20px;">60 punti</p>
      </div>
      <div id="B2-markdown386" ng-show="data.choice4!='portano' &amp;&amp; data.choice5=='si' &amp;&amp; data.choice1=='termina' &amp;&amp; data.choice2=='parte' &amp;&amp; data.choice3!='Vietato'" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:20px;">60 punti</p>
      </div>
      <div id="B2-markdown387" ng-show="data.choice4=='portano' &amp;&amp; data.choice5!='si' &amp;&amp; data.choice1!='termina' &amp;&amp; data.choice2=='parte' &amp;&amp; data.choice3=='Vietato'" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:20px;">60 punti</p>
      </div>
      <div id="B2-markdown388" ng-show="data.choice4=='portano' &amp;&amp; data.choice5!='si' &amp;&amp; data.choice1=='termina' &amp;&amp; data.choice2!='parte' &amp;&amp; data.choice3=='Vietato'" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:20px;">60 punti</p>
      </div>
      <div id="B2-markdown389" ng-show="data.choice4=='portano' &amp;&amp; data.choice5!='si' &amp;&amp; data.choice1=='termina' &amp;&amp; data.choice2=='parte' &amp;&amp; data.choice3!='Vietato'" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:20px;">60 punti</p>
      </div>
      <div id="B2-markdown390" ng-show="data.choice4=='portano' &amp;&amp; data.choice5=='si' &amp;&amp; data.choice1!='termina' &amp;&amp; data.choice2!='parte' &amp;&amp; data.choice3=='Vietato'" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:20px;">60 punti</p>
      </div>
      <div id="B2-markdown391" ng-show="data.choice4=='portano' &amp;&amp; data.choice5=='si' &amp;&amp; data.choice1!='termina' &amp;&amp; data.choice2=='parte' &amp;&amp; data.choice3!='Vietato'" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:20px;">60 punti</p>
      </div>
      <div id="B2-markdown392" ng-show="data.choice4=='portano' &amp;&amp; data.choice5=='si' &amp;&amp; data.choice1=='termina' &amp;&amp; data.choice2!='parte' &amp;&amp; data.choice3!='Vietato'" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:20px;">60 punti</p>
      </div>
      <div id="B2-markdown394" ng-show="data.choice4=='portano' &amp;&amp; data.choice5=='si' &amp;&amp; data.choice1!='termina' &amp;&amp; data.choice2!='parte' &amp;&amp; data.choice3=='Vietato'" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:20px;">80 punti</p>
      </div>
      <div id="B2-markdown395" ng-show="data.choice4=='portano' &amp;&amp; data.choice5=='si' &amp;&amp; data.choice1=='termina' &amp;&amp; data.choice2!='parte' &amp;&amp; data.choice3=='Vietato'" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:20px;">80 punti</p>
      </div>
      <div id="B2-markdown396" ng-show="data.choice4=='portano' &amp;&amp; data.choice5=='si' &amp;&amp; data.choice1=='termina' &amp;&amp; data.choice2=='parte' &amp;&amp; data.choice3!='Vietato'" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:20px;">80 punti</p>
      </div>
      <div id="B2-markdown397" ng-show="data.choice4!='portano' &amp;&amp; data.choice5=='si' &amp;&amp; data.choice1=='termina' &amp;&amp; data.choice2=='parte' &amp;&amp; data.choice3=='Vietato'" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:20px;">80 punti</p>
      </div>
      <div id="B2-markdown398" ng-show="data.choice4!='portano' &amp;&amp; data.choice5!='si' &amp;&amp; data.choice1!='termina' &amp;&amp; data.choice2!='parte' &amp;&amp; data.choice3!='Vietato'" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:20px;">0 punti</p>
      </div>
      <div id="B2-markdown399" ng-show="data.choice4=='portano' &amp;&amp; data.choice5!='si' &amp;&amp; data.choice1=='termina' &amp;&amp; data.choice2=='parte' &amp;&amp; data.choice3=='Vietato'" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:20px;">80 punti</p>
      </div>
      <div id="B2-markdown400" ng-show="data.choice4=='portano' &amp;&amp; data.choice5=='si' &amp;&amp; data.choice1=='termina' &amp;&amp; data.choice2=='parte' &amp;&amp; data.choice3=='Vietato'" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:20px;">100 punti</p>
      </div>
      <form id="B2-form56" class="list">
        <div id="B2-markdown401" class="show-list-numbers-and-dots">
          <p style="color:#000000;">Prima risposta:</p>
        </div>
        <ion-item class="item-icon-left energized" id="B2-list-item99" ng-show="data.choice1=='termina'">
          <i class="icon ion-happy-outline"></i>{{data.choice1}} e' giusto!</ion-item>
        <ion-item class="item-icon-left positive" id="B2-list-item100" ng-show="data.choice1!='termina'">
          <i class="icon ion-sad-outline"></i>{{data.choice1}} e' sbagliato</ion-item>
      </form>
      <form id="B2-form57" class="list">
        <div id="B2-markdown402" class="show-list-numbers-and-dots">
          <p style="color:#000000;">Seconda risposta:</p>
        </div>
        <ion-item class="item-icon-left energized" id="B2-list-item101" ng-show="data.choice2=='parte'">
          <i class="icon ion-happy-outline"></i>{{data.choice2}} e' giusto!</ion-item>
        <ion-item class="item-icon-left positive" id="B2-list-item102" ng-show="data.choice2!='parte'">
          <i class="icon ion-sad-outline"></i>{{data.choice2}} e' sbagliato</ion-item>
      </form>
      <form id="B2-form58" class="list">
        <div id="B2-markdown403" class="show-list-numbers-and-dots">
          <p style="color:#000000;">Terza risposta:</p>
        </div>
        <ion-item class="item-icon-left energized" id="B2-list-item103" ng-show="data.choice3=='Vietato'">
          <i class="icon ion-happy-outline"></i>{{data.choice3}} e' giusto!</ion-item>
        <ion-item class="item-icon-left positive" id="B2-list-item104" ng-show="data.choice3!='Vietato'">
          <i class="icon ion-sad-outline"></i>{{data.choice3}} e' sbagliato</ion-item>
      </form>
      <form id="B2-form59" class="list">
        <div id="B2-markdown404" class="show-list-numbers-and-dots">
          <p style="color:#000000;">Quarta risposta:</p>
        </div>
        <ion-item class="item-icon-left energized" id="B2-list-item105" ng-show="data.choice4=='portano'">
          <i class="icon ion-happy-outline"></i>{{data.choice4}} e' giusto!</ion-item>
        <ion-item class="item-icon-left positive" id="B2-list-item106" ng-show="data.choice4!='portano'">
          <i class="icon ion-sad-outline"></i>{{data.choice4}} e' sbagliato</ion-item>
      </form>
      <form id="B2-form60" class="list">
        <div id="B2-markdown405" class="show-list-numbers-and-dots">
          <p style="color:#000000;">Quinta risposta:</p>
        </div>
        <ion-item class="item-icon-left energized" id="B2-list-item107" ng-show="data.choice5=='si'">
          <i class="icon ion-happy-outline"></i>{{data.choice5}} e' giusto!</ion-item>
        <ion-item class="item-icon-left positive" id="B2-list-item108" ng-show="data.choice5!='si'">
          <i class="icon ion-sad-outline"></i>{{data.choice5}} e' sbagliato</ion-item>
        <div class="spacer" style="width: 300px; height: 48px;"></div>
        <div id="soluzioni2-markdown461" class="show-list-numbers-and-dots">
          <p style="color:#000000;">Risposte esatte:</p>
        </div>
        <div class="spacer" style="width: 300px; height: 14px;"></div>
        <div id="B2-markdown462" ng-repeat="message in messages" class="show-list-numbers-and-dots">
          <p style="color:#000000;">{{message.que1}} {{message.ans12}} {{message.que4}}
          </p>
        </div>
        <div id="B2-markdown463" ng-repeat="message in messages" class="show-list-numbers-and-dots">
          <p style="color:#000000;">{{message.que2}} {{message.ans21}} {{message.que5}}
          </p>
        </div>
        <div id="B2-markdown464" ng-repeat="message in messages" class="show-list-numbers-and-dots">
          <p style="color:#000000;">{{message.que3}} {{message.ans33}} {{message.que6}}
          </p>
        </div>
        <div id="B2-markdown465" ng-repeat="message in messages" class="show-list-numbers-and-dots">
          <p style="color:#000000;">{{message.que7}} {{message.ans40}} {{message.que8}}
          </p>
        </div>
        <div id="B2-markdown466" ng-repeat="message in messages" class="show-list-numbers-and-dots">
          <p style="color:#000000;">{{message.que9}} {{message.ans50}} {{message.que10}}
          </p>
        </div>
  
    <div class="spacer" style="width: 300px; height: 47px;"></div>
    <a ui-sref="C()" id="B2-button35" class="button button-positive button-block">更多</a>
    <div class="spacer" style="height: 100px;"></div>
  </ion-content>
</ion-view>