<ion-view title="靜修女中問答題 C" id="page22">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 26px;"></div>
    <div id="C-markdown2" ng-repeat="message in messages" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:18px;">{{message.que1}}
        <strong>{{data.choice1}}</strong>
        {{message.que4}}</p>
    </div>
    <form id="C-form3" class="list">
      <label class="item item-select" id="C-select3">
        <span class="input-label">請選擇</span>
        <select ng-repeat="message in messages" ng-model="data.choice1">
          <option></option>
          <option>{{message.ans10}}</option>
          <option>{{message.ans11}}</option>
          <option>{{message.ans12}}</option>
          <option>{{message.ans13}}</option>
          <option>{{message.ans14}}</option>
        </select>
      </label>
    </form>
    <div id="C-markdown5" ng-repeat="message in messages" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:18px;">{{message.que2}}
        <strong>{{data.choice2}}</strong>
        {{message.que5}}</p>
    </div>
    <form id="C-form4" class="list">
      <label class="item item-select" id="C-select8">
        <span class="input-label">請選擇</span>
        <select ng-repeat="message in messages" ng-model="data.choice2">
          <option></option>
          <option>{{message.ans20}}</option>
          <option>{{message.ans21}}</option>
          <option>{{message.ans22}}</option>
          <option>{{message.ans23}}</option>
          <option>{{message.ans24}}</option>
        </select>
      </label>
    </form>
    <div id="C-markdown6" ng-repeat="message in messages" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:18px;">{{message.que3}}
        <strong>{{data.choice3}}</strong>
        {{message.que6}}</p>
    </div>
    <form id="C-form5" class="list">
      <label class="item item-select" id="C-select7">
        <span class="input-label">請選擇</span>
        <select ng-repeat="message in messages" ng-model="data.choice3">
          <option></option>
          <option>{{message.ans30}}</option>
          <option>{{message.ans31}}</option>
          <option>{{message.ans32}}</option>
          <option>{{message.ans33}}</option>
          <option>{{message.ans34}}</option>
        </select>
      </label>
    </form>
    <div id="C-markdown7" ng-repeat="message in messages" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:18px;">{{message.que7}}
        <strong>{{data.choice4}}</strong>
        {{message.que8}}</p>
    </div>
    <form id="C-form6" class="list">
      <label class="item item-select" id="C-select6">
        <span class="input-label">請選擇</span>
        <select ng-repeat="message in messages" ng-model="data.choice4">
          <option></option>
          <option>{{message.ans40}}</option>
          <option>{{message.ans41}}</option>
          <option>{{message.ans42}}</option>
          <option>{{message.ans43}}</option>
          <option>{{message.ans44}}</option>
        </select>
      </label>
    </form>
    <div id="C-markdown8" ng-repeat="message in messages" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:18px;">{{message.que9}}
        <strong>{{data.choice5}}</strong>
        {{message.que10}}</p>
    </div>
    <form id="C-form7" class="list">
      <label class="item item-select" id="C-select5">
        <span class="input-label">請選擇</span>
        <select ng-repeat="message in messages" ng-model="data.choice5">
          <option></option>
          <option>{{message.ans50}}</option>
          <option>{{message.ans51}}</option>
          <option>{{message.ans52}}</option>
          <option>{{message.ans53}}</option>
          <option>{{message.ans54}}</option>
        </select>
      </label>
    </form>
    <div class="spacer" style="width: 300px; height: 32px;"></div>
    <a ui-sref="C2({&quot;choice1&quot;:&quot;&quot;+data.choice1+&quot;&quot;,&quot;choice2&quot;:&quot;&quot;+data.choice2+&quot;&quot;,&quot;choice3&quot;:&quot;&quot;+data.choice3+&quot;&quot;,&quot;choice4&quot;:&quot;&quot;+data.choice4+&quot;&quot;,&quot;choice5&quot;:&quot;&quot;+data.choice5+&quot;&quot;})"
      id="C-button24" class="button button-positive button-block">總成績</a>
    <div class="spacer" style="width: 300px; height: 32px;"></div>
  </ion-content>
</ion-view>