<ion-view title="答案揭曉 C" id="page24">
    <ion-content padding="true" class="has-header">
      <div id="C2-markdown216" ng-show="data.choice4!='la' &amp;&amp; data.choice5!='una' &amp;&amp; data.choice1=='vieni' &amp;&amp; data.choice2!='ore' &amp;&amp; data.choice3=='andiamo'" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:20px;">20 punti</p>
      </div>
      <div id="C2-markdown217" ng-show="data.choice4!='la' &amp;&amp; data.choice5!='una' &amp;&amp; data.choice1!='vieni' &amp;&amp; data.choice2=='ore' &amp;&amp; data.choice3!='andiamo'" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:20px;">20 punti</p>
      </div>
      <div id="C2-markdown218" ng-show="data.choice4!='la' &amp;&amp; data.choice5!='una' &amp;&amp; data.choice1!='vieni' &amp;&amp; data.choice2!='ore' &amp;&amp; data.choice3=='andiamo'" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:20px;">20 punti</p>
      </div>
      <div id="C2-markdown219" ng-show="data.choice4=='la' &amp;&amp; data.choice5!='una' &amp;&amp; data.choice1!='vieni' &amp;&amp; data.choice2!='ore' &amp;&amp; data.choice3!='andiamo'" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:20px;">20 punti</p>
      </div>
      <div id="C2-markdown220" ng-show="data.choice4!='la' &amp;&amp; data.choice5=='una' &amp;&amp; data.choice1!='vieni' &amp;&amp; data.choice2!='ore' &amp;&amp; data.choice3!='andiamo'" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:20px;">20 punti</p>
      </div>
      <div id="C2-markdown221" ng-show="data.choice4=='la' &amp;&amp; data.choice5=='una' &amp;&amp; data.choice1!='vieni' &amp;&amp; data.choice2!='ore' &amp;&amp; data.choice3!='andiamo'" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:20px;">40 punti</p>
      </div>
      <div id="C2-markdown222" ng-show="data.choice4=='la' &amp;&amp; data.choice5!='una' &amp;&amp; data.choice1=='vieni' &amp;&amp; data.choice2!='ore' &amp;&amp; data.choice3!='andiamo'" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:20px;">40 punti</p>
      </div>
      <div id="C2-markdown223" ng-show="data.choice4=='la' &amp;&amp; data.choice5!='una' &amp;&amp; data.choice1!='vieni' &amp;&amp; data.choice2=='ore' &amp;&amp; data.choice3!='andiamo'" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:20px;">40 punti</p>
      </div>
      <div id="C2-markdown226" ng-show="data.choice4=='la' &amp;&amp; data.choice5!='una' &amp;&amp; data.choice1!='vieni' &amp;&amp; data.choice2!='ore' &amp;&amp; data.choice3=='andiamo'" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:20px;">40 punti</p>
      </div>
      <div id="C2-markdown246" ng-show="data.choice4!='la' &amp;&amp; data.choice5=='una' &amp;&amp; data.choice1=='vieni' &amp;&amp; data.choice2!='ore' &amp;&amp; data.choice3!='andiamo'" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:20px;">40 punti</p>
      </div>
      <div id="C2-markdown247" ng-show="data.choice4!='la' &amp;&amp; data.choice5=='una' &amp;&amp; data.choice1!='vieni' &amp;&amp; data.choice2=='ore' &amp;&amp; data.choice3!='andiamo'" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:20px;">40 punti</p>
      </div>
      <div id="C2-markdown341" ng-show="data.choice4!='la' &amp;&amp; data.choice5=='una' &amp;&amp; data.choice1!='vieni' &amp;&amp; data.choice2!='ore' &amp;&amp; data.choice3=='andiamo'" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:20px;">40 punti</p>
      </div>
      <div id="C2-markdown342" ng-show="data.choice4!='la' &amp;&amp; data.choice5!='una' &amp;&amp; data.choice1=='vieni' &amp;&amp; data.choice2=='ore' &amp;&amp; data.choice3!='andiamo'" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:20px;">40 punti</p>
      </div>
      <div id="C2-markdown343" ng-show="data.choice4!='la' &amp;&amp; data.choice5!='una' &amp;&amp; data.choice1=='vieni' &amp;&amp; data.choice2!='ore' &amp;&amp; data.choice3=='andiamo'" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:20px;">40 punti</p>
      </div>
      <div id="C2-markdown344" ng-show="data.choice4!='la' &amp;&amp; data.choice5!='una' &amp;&amp; data.choice1!='vieni' &amp;&amp; data.choice2=='ore' &amp;&amp; data.choice3=='andiamo'" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:20px;">40 punti</p>
      </div>
      <div id="C2-markdown345" ng-show="data.choice4=='la' &amp;&amp; data.choice5=='una' &amp;&amp; data.choice1=='vieni' &amp;&amp; data.choice2!='ore' &amp;&amp; data.choice3!='andiamo'" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:20px;">60 punti</p>
      </div>
      <div id="C2-markdown346" ng-show="data.choice4=='la' &amp;&amp; data.choice5!='una' &amp;&amp; data.choice1=='vieni' &amp;&amp; data.choice2=='ore' &amp;&amp; data.choice3!='andiamo'" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:20px;">60 punti</p>
      </div>
      <div id="C2-markdown347" ng-show="data.choice4=='la' &amp;&amp; data.choice5!='una' &amp;&amp; data.choice1!='vieni' &amp;&amp; data.choice2=='ore' &amp;&amp; data.choice3=='andiamo'" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:20px;">60 punti</p>
      </div>
      <div id="C2-markdown348" ng-show="data.choice4!='la' &amp;&amp; data.choice5=='una' &amp;&amp; data.choice1=='vieni' &amp;&amp; data.choice2=='ore' &amp;&amp; data.choice3!='andiamo'" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:20px;">60 punti</p>
      </div>
      <div id="C2-markdown349" ng-show="data.choice4!='la' &amp;&amp; data.choice5=='una' &amp;&amp; data.choice1!='vieni' &amp;&amp; data.choice2=='ore' &amp;&amp; data.choice3=='andiamo'" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:20px;">60 punti</p>
      </div>
      <div id="C2-markdown350" ng-show="data.choice4=='la' &amp;&amp; data.choice5=='una' &amp;&amp; data.choice1!='vieni' &amp;&amp; data.choice2!='ore' &amp;&amp; data.choice3=='andiamo'" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:20px;">60 punti</p>
      </div>
      <div id="C2-markdown351" ng-show="data.choice4!='la' &amp;&amp; data.choice5!='una' &amp;&amp; data.choice1=='vieni' &amp;&amp; data.choice2=='ore' &amp;&amp; data.choice3=='andiamo'" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:20px;">60 punti</p>
      </div>
      <div id="C2-markdown352" ng-show="data.choice4=='la' &amp;&amp; data.choice5!='una' &amp;&amp; data.choice1=='vieni' &amp;&amp; data.choice2!='ore' &amp;&amp; data.choice3=='andiamo'" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:20px;">60 punti</p>
      </div>
      <div id="C2-markdown468" ng-show="data.choice4=='la' &amp;&amp; data.choice5=='una' &amp;&amp; data.choice1!='vieni' &amp;&amp; data.choice2=='ore' &amp;&amp; data.choice3!='andiamo'" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:20px;">60 punti</p>
      </div>
      <div id="C2-markdown469" ng-show="data.choice4!='la' &amp;&amp; data.choice5=='una' &amp;&amp; data.choice1=='vieni' &amp;&amp; data.choice2!='ore' &amp;&amp; data.choice3=='andiamo'" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:20px;">60 punti</p>
      </div>
      <div id="C2-markdown356" ng-show="data.choice4=='la' &amp;&amp; data.choice5=='una' &amp;&amp; data.choice1!='vieni' &amp;&amp; data.choice2=='ore' &amp;&amp; data.choice3=='andiamo'" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:20px;">80 punti</p>
      </div>
      <div id="C2-markdown357" ng-show="data.choice4=='la' &amp;&amp; data.choice5=='una' &amp;&amp; data.choice1=='vieni' &amp;&amp; data.choice2!='ore' &amp;&amp; data.choice3=='andiamo'" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:20px;">80 punti</p>
      </div>
      <div id="C2-markdown358" ng-show="data.choice4=='la' &amp;&amp; data.choice5=='una' &amp;&amp; data.choice1=='vieni' &amp;&amp; data.choice2=='ore' &amp;&amp; data.choice3!='andiamo'" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:20px;">80 punti</p>
      </div>
      <div id="C2-markdown359" ng-show="data.choice4!='la' &amp;&amp; data.choice5=='una' &amp;&amp; data.choice1=='vieni' &amp;&amp; data.choice2=='ore' &amp;&amp; data.choice3=='andiamo'" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:20px;">80 punti</p>
      </div>
      <div id="C2-markdown467" ng-show="data.choice4=='la' &amp;&amp; data.choice5!='una' &amp;&amp; data.choice1=='vieni' &amp;&amp; data.choice2=='ore' &amp;&amp; data.choice3=='andiamo'" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:20px;">80 punti</p>
      </div>
      <div id="C2-markdown360" ng-show="data.choice4!='la' &amp;&amp; data.choice5!='una' &amp;&amp; data.choice1!='vieni' &amp;&amp; data.choice2!='ore' &amp;&amp; data.choice3!='andiamo'" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:20px;">0 punti</p>
      </div>
      <div id="C2-markdown362" ng-show="data.choice4=='la' &amp;&amp; data.choice5=='una' &amp;&amp; data.choice1=='vieni' &amp;&amp; data.choice2=='ore' &amp;&amp; data.choice3=='andiamo'" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:20px;">100 punti</p>
      </div>
      <form id="C2-form51" class="list">
        <div id="C2-markdown363" class="show-list-numbers-and-dots">
          <p style="color:#000000;">Prima risposta:</p>
        </div>
        <ion-item class="item-icon-left energized" id="C2-list-item89" ng-show="data.choice1=='vieni'">
          <i class="icon ion-happy-outline"></i>{{data.choice1}} e' giusto!</ion-item>
        <ion-item class="item-icon-left positive" id="C2-list-item90" ng-show="data.choice1!='vieni'">
          <i class="icon ion-sad-outline"></i>{{data.choice1}} e' sbagliato</ion-item>
      </form>
      <form id="C2-form52" class="list">
        <div id="C2-markdown364" class="show-list-numbers-and-dots">
          <p style="color:#000000;">Seconda risposta:</p>
        </div>
        <ion-item class="item-icon-left energized" id="C2-list-item91" ng-show="data.choice2=='ore'">
          <i class="icon ion-happy-outline"></i>{{data.choice2}} e' giusto!</ion-item>
        <ion-item class="item-icon-left positive" id="C2-list-item92" ng-show="data.choice2!='ore'">
          <i class="icon ion-sad-outline"></i>{{data.choice2}} e' sbagliato</ion-item>
      </form>
      <form id="C2-form53" class="list">
        <div id="C2-markdown365" class="show-list-numbers-and-dots">
          <p style="color:#000000;">Terza risposta:</p>
        </div>
        <ion-item class="item-icon-left energized" id="C2-list-item93" ng-show="data.choice3=='andiamo'">
          <i class="icon ion-happy-outline"></i>{{data.choice3}} e' giusto!</ion-item>
        <ion-item class="item-icon-left positive" id="C2-list-item94" ng-show="data.choice3!='andiamo'">
          <i class="icon ion-sad-outline"></i>{{data.choice3}} e' sbagliato</ion-item>
      </form>
      <form id="C2-form54" class="list">
        <div id="C2-markdown366" class="show-list-numbers-and-dots">
          <p style="color:#000000;">Quarta risposta:</p>
        </div>
        <ion-item class="item-icon-left energized" id="C2-list-item95" ng-show="data.choice4=='la'">
          <i class="icon ion-happy-outline"></i>{{data.choice4}} e' giusto!</ion-item>
        <ion-item class="item-icon-left positive" id="C2-list-item96" ng-show="data.choice4!='la'">
          <i class="icon ion-sad-outline"></i>{{data.choice4}} e' sbagliato</ion-item>
      </form>
      <form id="C2-form55" class="list">
        <div id="C2-markdown367" class="show-list-numbers-and-dots">
          <p style="color:#000000;">Quinta risposta:</p>
        </div>
        <ion-item class="item-icon-left energized" id="C2-list-item97" ng-show="data.choice5=='una'">
          <i class="icon ion-happy-outline"></i>{{data.choice5}} e' giusto!</ion-item>
        <ion-item class="item-icon-left positive" id="C2-list-item98" ng-show="data.choice5!='una'">
          <i class="icon ion-sad-outline"></i>{{data.choice5}} e' sbagliato</ion-item>
        <div class="spacer" style="width: 300px; height: 47px;"></div>
        <div id="C2-markdown455" class="show-list-numbers-and-dots">
          <p style="color:#000000;">Risposte esatte:</p>
        </div>
        <div id="C2-markdown456" ng-repeat="message in messages" class="show-list-numbers-and-dots">
          <h4 style="color:#000000;">{{message.que1}} {{message.ans13}} {{message.que4}}
          </h4>
        </div>
        <div id="C2-markdown457" ng-repeat="message in messages" class="show-list-numbers-and-dots">
          <h4 style="color:#000000;">{{message.que2}} {{message.ans21}} {{message.que5}}
          </h4>
        </div>
        <div id="C2-markdown458" ng-repeat="message in messages" class="show-list-numbers-and-dots">
          <h4 style="color:#000000;">{{message.que3}} {{message.ans33}} {{message.que6}}
          </h4>
        </div>
        <div id="C2-markdown459" ng-repeat="message in messages" class="show-list-numbers-and-dots">
          <h4 style="color:#000000;">{{message.que7}} {{message.ans40}} {{message.que8}}
          </h4>
        </div>
        <div id="C2-markdown460" ng-repeat="message in messages" class="show-list-numbers-and-dots">
          <h4 style="color:#000000;">{{message.que9}} {{message.ans51}} {{message.que10}}
          </h4>
        </div>
    <div class="spacer" style="width: 300px; height: 40px;"></div>
    <a ui-sref="tabsController.page6()" id="C2-button34" class="button button-positive button-block">主頁</a>
    <div class="spacer" style="height: 100px;"></div>
  </ion-content>
</ion-view>