<ion-view title="答案揭曉 C" id="page24">
  <ion-content padding="true" class="has-header">
    <div id="C2-markdown34" ng-show="data.choice4!='紀念' &amp;&amp; data.choice5!='臺灣' &amp;&amp; data.choice1=='1916' &amp;&amp; data.choice2!='女子' &amp;&amp; data.choice3=='定'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">40 points</p>
    </div>
    <div id="C2-markdown35" ng-show="data.choice4!='紀念' &amp;&amp; data.choice5!='臺灣' &amp;&amp; data.choice1=='1916' &amp;&amp; data.choice2=='女子' &amp;&amp; data.choice3!='定'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">40 points</p>
    </div>
    <div id="C2-markdown36" ng-show="data.choice4!='紀念' &amp;&amp; data.choice5!='臺灣' &amp;&amp; data.choice1!='1916' &amp;&amp; data.choice2=='女子' &amp;&amp; data.choice3=='定'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">40 points</p>
    </div>
    <div id="C2-markdown37" ng-show="data.choice4=='紀念' &amp;&amp; data.choice5!='臺灣' &amp;&amp; data.choice1!='1916' &amp;&amp; data.choice2!='女子' &amp;&amp; data.choice3=='定'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">40 points</p>
    </div>
    <div id="C2-markdown38" ng-show="data.choice4!='紀念' &amp;&amp; data.choice5=='臺灣' &amp;&amp; data.choice1!='1916' &amp;&amp; data.choice2!='女子' &amp;&amp; data.choice3=='定'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">40 points</p>
    </div>
    <div id="C2-markdown39" ng-show="data.choice4!='紀念' &amp;&amp; data.choice5=='臺灣' &amp;&amp; data.choice1!='1916' &amp;&amp; data.choice2=='女子' &amp;&amp; data.choice3!='定'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">40 points</p>
    </div>
    <div id="C2-markdown40" ng-show="data.choice4!='紀念' &amp;&amp; data.choice5=='臺灣' &amp;&amp; data.choice1=='1916' &amp;&amp; data.choice2!='女子' &amp;&amp; data.choice3!='定'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">40 points</p>
    </div>
    <div id="C2-markdown41" ng-show="data.choice4=='紀念' &amp;&amp; data.choice5!='臺灣' &amp;&amp; data.choice1=='1916' &amp;&amp; data.choice2!='女子' &amp;&amp; data.choice3!='定'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">40 points</p>
    </div>
    <div id="C2-markdown42" ng-show="data.choice4=='紀念' &amp;&amp; data.choice5!='臺灣' &amp;&amp; data.choice1!='1916' &amp;&amp; data.choice2=='女子' &amp;&amp; data.choice3!='定'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">40 points</p>
    </div>
    <div id="C2-markdown43" ng-show="data.choice4=='紀念' &amp;&amp; data.choice5=='臺灣' &amp;&amp; data.choice1!='1916' &amp;&amp; data.choice2!='女子' &amp;&amp; data.choice3!='定'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">40 points</p>
    </div>
    <div id="C2-markdown44" ng-show="data.choice4=='紀念' &amp;&amp; data.choice5=='臺灣' &amp;&amp; data.choice1!='1916' &amp;&amp; data.choice2=='女子' &amp;&amp; data.choice3!='定'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">60 points</p>
    </div>
    <div id="C2-markdown45" ng-show="data.choice4=='紀念' &amp;&amp; data.choice5=='臺灣' &amp;&amp; data.choice1!='1916' &amp;&amp; data.choice2!='女子' &amp;&amp; data.choice3=='定'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">60 points</p>
    </div>
    <div id="C2-markdown46" ng-show="data.choice4=='紀念' &amp;&amp; data.choice5!='臺灣' &amp;&amp; data.choice1=='1916' &amp;&amp; data.choice2!='女子' &amp;&amp; data.choice3=='定'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">60 points</p>
    </div>
    <div id="C2-markdown47" ng-show="data.choice4=='紀念' &amp;&amp; data.choice5!='臺灣' &amp;&amp; data.choice1=='1916' &amp;&amp; data.choice2=='女子' &amp;&amp; data.choice3!='定'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">60 points</p>
    </div>
    <div id="C2-markdown48" ng-show="data.choice4=='紀念' &amp;&amp; data.choice5=='臺灣' &amp;&amp; data.choice1=='1916' &amp;&amp; data.choice2!='女子' &amp;&amp; data.choice3!='定'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">60 points</p>
    </div>
    <div id="C2-markdown49" ng-show="data.choice4!='紀念' &amp;&amp; data.choice5=='臺灣' &amp;&amp; data.choice1=='1916' &amp;&amp; data.choice2=='女子' &amp;&amp; data.choice3!='定'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">60 points</p>
    </div>
    <div id="C2-markdown50" ng-show="data.choice4!='紀念' &amp;&amp; data.choice5=='臺灣' &amp;&amp; data.choice1=='1916' &amp;&amp; data.choice2!='女子' &amp;&amp; data.choice3=='定'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">60 points</p>
    </div>
    <div id="C2-markdown51" ng-show="data.choice4!='紀念' &amp;&amp; data.choice5!='臺灣' &amp;&amp; data.choice1=='1916' &amp;&amp; data.choice2=='女子' &amp;&amp; data.choice3=='定'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">60 points</p>
    </div>
    <div id="C2-markdown52" ng-show="data.choice4!='紀念' &amp;&amp; data.choice5=='臺灣' &amp;&amp; data.choice1!='1916' &amp;&amp; data.choice2=='女子' &amp;&amp; data.choice3=='定'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">60 points</p>
    </div>
    <div id="C2-markdown53" ng-show="data.choice4=='紀念' &amp;&amp; data.choice5!='臺灣' &amp;&amp; data.choice1!='1916' &amp;&amp; data.choice2=='女子' &amp;&amp; data.choice3=='定'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">60 points</p>
    </div>
    <div id="C2-markdown54" ng-show="data.choice4=='紀念' &amp;&amp; data.choice5=='臺灣' &amp;&amp; data.choice1!='1916' &amp;&amp; data.choice2=='女子' &amp;&amp; data.choice3=='定'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">80 points</p>
    </div>
    <div id="C2-markdown55" ng-show="data.choice1=='1916' &amp;&amp; data.choice2!='女子' &amp;&amp; data.choice3!='定' &amp;&amp; data.choice4!='紀念' &amp;&amp; data.choice5!='臺灣'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">20 points</p>
    </div>
    <div id="C2-markdown56" ng-show="data.choice4=='紀念' &amp;&amp; data.choice5=='臺灣' &amp;&amp; data.choice1=='1916' &amp;&amp; data.choice2!='女子' &amp;&amp; data.choice3=='定'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">80 points</p>
    </div>
    <div id="C2-markdown57" ng-show="data.choice4!='紀念' &amp;&amp; data.choice5!='臺灣' &amp;&amp; data.choice1!='1916' &amp;&amp; data.choice2=='女子' &amp;&amp; data.choice3!='定'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">20 points</p>
    </div>
    <div id="C2-markdown58" ng-show="data.choice4=='紀念' &amp;&amp; data.choice5=='臺灣' &amp;&amp; data.choice1=='1916' &amp;&amp; data.choice2=='女子' &amp;&amp; data.choice3!='定'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">80 points</p>
    </div>
    <div id="C2-markdown59" ng-show="data.choice4!='紀念' &amp;&amp; data.choice5!='臺灣' &amp;&amp; data.choice1!='1916' &amp;&amp; data.choice2!='女子' &amp;&amp; data.choice3=='定'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">20 points</p>
    </div>
    <div id="C2-markdown60" ng-show="data.choice4!='紀念' &amp;&amp; data.choice5=='臺灣' &amp;&amp; data.choice1=='1916' &amp;&amp; data.choice2=='女子' &amp;&amp; data.choice3=='定'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">80 points</p>
    </div>
    <div id="C2-markdown61" ng-show="data.choice4=='紀念' &amp;&amp; data.choice5!='臺灣' &amp;&amp; data.choice1!='1916' &amp;&amp; data.choice2!='女子' &amp;&amp; data.choice3!='定'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">20 points</p>
    </div>
    <div id="C2-markdown62" ng-show="data.choice4=='紀念' &amp;&amp; data.choice5!='臺灣' &amp;&amp; data.choice1=='1916' &amp;&amp; data.choice2=='女子' &amp;&amp; data.choice3=='定'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">80 points</p>
    </div>
    <div id="C2-markdown63" ng-show="data.choice4!='紀念' &amp;&amp; data.choice5=='臺灣' &amp;&amp; data.choice1!='1916' &amp;&amp; data.choice2!='女子' &amp;&amp; data.choice3!='定'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">20 points</p>
    </div>
    <div id="C2-markdown64" ng-show="data.choice4!='紀念' &amp;&amp; data.choice5!='臺灣' &amp;&amp; data.choice1!='1916' &amp;&amp; data.choice2!='女子' &amp;&amp; data.choice3!='定'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">0 points</p>
    </div>
    <div id="C2-markdown65" ng-show="data.choice4=='紀念' &amp;&amp; data.choice5=='臺灣' &amp;&amp; data.choice1=='1916' &amp;&amp; data.choice2=='女子' &amp;&amp; data.choice3=='定'" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">Great! 100 points</p>
    </div>
    <form id="C2-form39" class="list">
      <div id="C2-markdown66" class="show-list-numbers-and-dots">
        <p style="color:#000000;">First answer:</p>
      </div>
      <ion-item class="item-icon-left energized" id="C2-list-item24" ng-show="data.choice1=='1916'">
        <i class="icon ion-happy-outline"></i>*{{data.choice1}}* is correct!</ion-item>
      <ion-item class="item-icon-left positive" id="C2-list-item26" ng-show="data.choice1!='1916'">
        <i class="icon ion-sad-outline"></i>*{{data.choice1}}* is incorrect</ion-item>
    </form>
    <form id="C2-form40" class="list">
      <div id="C2-markdown67" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Second answer:</p>
      </div>
      <ion-item class="item-icon-left energized" id="C2-list-item27" ng-show="data.choice2=='女子'">
        <i class="icon ion-happy-outline"></i>*{{data.choice2}}* is correct!</ion-item>
      <ion-item class="item-icon-left positive" id="C2-list-item28" ng-show="data.choice2!='女子'">
        <i class="icon ion-sad-outline"></i>*{{data.choice2}}* is incorrect</ion-item>
    </form>
    <form id="C2-form41" class="list">
      <div id="C2-markdown68" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Third answer:</p>
      </div>
      <ion-item class="item-icon-left energized" id="C2-list-item29" ng-show="data.choice3=='定'">
        <i class="icon ion-happy-outline"></i>*{{data.choice3}}* is correct!</ion-item>
      <ion-item class="item-icon-left positive" id="C2-list-item30" ng-show="data.choice3!='定'">
        <i class="icon ion-sad-outline"></i>*{{data.choice3}}* is incorrect</ion-item>
    </form>
    <form id="C2-form42" class="list">
      <div id="C2-markdown69" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Fourth answer:</p>
      </div>
      <ion-item class="item-icon-left energized" id="C2-list-item31" ng-show="data.choice4=='紀念'">
        <i class="icon ion-happy-outline"></i>*{{data.choice4}}* is correct!</ion-item>
      <ion-item class="item-icon-left positive" id="C2-list-item32" ng-show="data.choice4!='紀念'">
        <i class="icon ion-sad-outline"></i>*{{data.choice4}}* is incorrect</ion-item>
    </form>
    <form id="C2-form43" class="list">
      <div id="C2-markdown70" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Fifth answer:</p>
      </div>
      <ion-item class="item-icon-left energized" id="C2-list-item33" ng-show="data.choice5=='臺灣'">
        <i class="icon ion-happy-outline"></i>*{{data.choice5}}* is correct!</ion-item>
      <ion-item class="item-icon-left positive" id="C2-list-item34" ng-show="data.choice5!='臺灣'">
        <i class="icon ion-sad-outline"></i>*{{data.choice5}}* is incorrect</ion-item>
    </form>
    <div class="spacer" style="height: 100px;"></div>
    <div id="C2-markdown110" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Correct answers:</p>
    </div>
    <div id="C2-markdown111" ng-repeat="message in messages" class="show-list-numbers-and-dots">
      <p style="color:#000000;">{{message.que1}}{{message.ans12}}</p>
    </div>
    <div id="C2-markdown108" ng-repeat="message in messages" class="show-list-numbers-and-dots">
      <p style="color:#000000;">{{message.que2}}{{message.ans23}}</p>
    </div>
    <div id="C2-markdown109" ng-repeat="message in messages" class="show-list-numbers-and-dots">
      <p style="color:#000000;">{{message.que3}}{{message.ans34}}</p>
    </div>
    <div id="C2-markdown71" ng-repeat="message in messages" class="show-list-numbers-and-dots">
      <p style="color:#000000;">{{message.que7}}{{message.ans40}}</p>
    </div>
    <div id="C2-markdown72" ng-repeat="message in messages" class="show-list-numbers-and-dots">
      <p style="color:#000000;">{{message.que9}}{{message.ans52}}</p>
    </div>
    <div class="spacer" style="width: 300px; height: 40px;"></div>
    <a ui-sref="tabsController.page6()" id="C2-button34" class="button button-positive button-block">主頁</a>
    <div class="spacer" style="height: 100px;"></div>
  </ion-content>
</ion-view>