<ion-view title="一般課程" id="page16">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/jZkwVsM9RT6aqdYDBrvp_96.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/K5CCW7jeQvaiUxjnLbc6_97.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/CmljNvGRSJyHOF87YTWf_98.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/2yk9JkKWSyOEh5jYh3RZ_99.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/fCLETw9kRvKAIzEP1qP7_100.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>