<ion-view title="環境設備" id="page17">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/Stsi7OtZQoiBzuaMGNwc_23.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/6InqsgVUQ5SW1V5mLCTw_24.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/JgFEm6NjQvWUiru4uQK4_25.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/KyOiABh6T0iwka8tVmiA_26.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/DXkVBLXFSySYhQE7AfGH_27.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/HurWW8qlR16vmVInWyeK_28.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/3qTujD4TRVCXmY8d2vSg_29.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/thhqKFokQF6FpFgXN7d1_30.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/59Lc5qsSM6f87FcHKEeS_31.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/hS5UkszkRFyNlVm6mZT0_32.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/CGpYeEVdT4CcwS6XzViH_33.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/dGgKKYgcQDq0mMWNUNgG_34.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/SchdP37NTHyPuunhwjgL_35.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/DJ776IbLRd6uYUxcZTHA_36.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/EDfwvdNuQIyVu48qvtzF_37.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/axOj6mfeRJaltQAw6MDC_38.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/hrDfnFQPQ6mvpQdGXe05_39.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/9mJgMdwjSNikVrvDnGVF_40.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/yXstgMraQ6ygPSWPbLQo_41.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/Gp4XOGMBS92r2ntXoqVn_42.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/X5C9Ko2kT82Nw2zhY0Dw_43.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/jh87mGixTDqifD4sicDM_44.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/x2Xmftb1TRy6SveVj5QJ_45.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/MUeQSjVtT9SMhi0ZYbsl_46.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>