<ion-view title="讀者信箱" id="page30">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 74px;"></div>
    <form id="page30-form38" class="list">
      <label class="item item-input item-stacked-label" id="page30-input7">
        <span class="input-label">使用者姓名</span>
        <input type="text" placeholder="" ng-model="data.nome_cond">
      </label>
      <label class="item item-input item-stacked-label" id="page30-input10">
        <span class="input-label">分享心得</span>
        <input type="text" placeholder="" ng-model="data.condivisione">
      </label>
    </form>
    <button id="page30-button33" ng-click="submit()" ng-disabled="submitting" class="button button-assertive button-block">寄給BIS</button>
    <div>
      <img src="img/NQ5sA3sEQAyEOcXwC9Du_FeatureGraphicGoogle.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>