<ion-view title="週六課程" id="page18">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/cNLSfzNTCCp86OljJMGJ_101.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/onpaR6HTo25XezcrH1dj_102.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/NZcRg83kQnuCiALWLbXp_103.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/YsZ6FeNSbe2qpZcUh0S0_104.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>