<ion-view title="高中部" id="page8">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/5xdHkeKYS0KYzfQWuaEw_128.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/8mdh8pwwQjSGiNx6ohs1_129.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/rDJ0rKLtSFuLy0bgePmA_130.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>