<ion-view title="Leopardare" id="page14">
  <ion-content padding="true" class="has-header">

     
     
    
    <div class="list card">

      <div class="item item-avatar">
        <img src="mcfly.jpg">
        <h2>Giacomo Leopardi</h2>
        <p>November 05, 1891</p>
      </div>
    
      <div class="item item-body">
        <img class="full-image" src="delorean.jpg">
        <p>
          Sempre caro mi fu quest'ermo colle nonostante il pantano immenso colorato di fiori! Nel mezzo del cammin di nostra vita ci ritrovammo tutti uniti.
        </p>
        <p>
          <a href="#" class="subdued">1 Like</a>
          <a href="#" class="subdued">5 Comments</a>
        </p>
      </div>
    
    </div>
  </ion-content>
</ion-view>