<ion-view title="多元活動" id="page19">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/O3YDX0CnQg6RBaC3Y02V_106.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/QLc5dGA9TAarqAYcQCya_107.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/gzkLaNH6TdSZpBtMwoVX_108.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/6Hl54ab1RD2sqZIDzm2i_BIS-.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/v5RuJr6mS02yTKSGYQf2_BIS-.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="page19-button-bar3" class="button-bar"></div>
    <div>
      <img src="img/RNn9S7DHSOarU3KqenIo_1.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/eWwrLGe1QCCKfMibSu5w_2.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/lgWArXFhTZaofRPi2LN0_3.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/0CapT2SESKGZHS8poZUE_4.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/KuZl11VIShu3PuUh3LJL_9.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/OsTQnHHyQZ6n0o0i2pNB_10.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/FrDurd4OQTeRRwe6VPZd_11.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/hTKDjCroTnaIQ3xiwNKC_13.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>