<ion-view title="新聞" id="page4">
  <ion-content padding="true" class="has-header">
    <div>
      <a style="display:block;" href-inappbrowser="http://www.bish.tp.edu.tw/index.php">
        <img src="img/19VST3FRF6LHns1JAqyw_image_6483441.JPG" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <a href-inappbrowser="http://www.bish.tp.edu.tw/data_news.php?sys_name=news10" id="page4-button20" style="font-weight:600;" class="button button-positive button-block button-outline">新聞報導專區</a>
    <div>
      <a style="display:block;" href-inappbrowser="https://www.youtube.com/watch?v=4wyc93m5z8M">
        <img src="img/I4QjCG0bQCKKzE72EwjS_youtub.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div>
      <img src="img/TE5802tGSH6188HBU2Sf_12.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/eEZpI2SSfmPJIlPafZwl_13.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/YWhep2jQvGZgSTgzeN7w_14.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/XAwzOmmgSQaF16PXAJdJ_15.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/xzNTV0OCT96ic6lfT3Jg_16.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/Bb01uPFlQYSa9beDpgpW_17.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/kO7BGkT7CSIgc3FYTZ2w_18.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>