<ion-view title="榜單" id="page3">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/uq4fue5mR0OrbXMMVDmy_145.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/PbMyKbz1RFUTgzl0YRQB_146.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/cOVZykeBQwCfKnDJvAum_147.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/t0W1SVTKRmynmPKU4soU_148.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/LfGIxDoKTPoOfQ2f7ZuK_149.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AEXN7kjRSWsQRCAnO1aw_150.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>