<ion-view title="招生" id="page23">
  <ion-content padding="true" class="has-header">
    <a href-inappbrowser="http://www.bish.tp.edu.tw/recruit.php?id=2" id="page23-button12" style="font-weight:600;" class="button button-calm button-block">國中部 招生資訊</a>
    <a href-inappbrowser="http://www.bish.tp.edu.tw/recruit.php?id=3" id="page23-button14" style="font-weight:600;" class="button button-balanced button-block">高中部 招生資訊</a>
    <a href-inappbrowser="http://www.bish.tp.edu.tw/recruit.php?id=1" id="page23-button15" style="font-weight:600;color:#1121EC;" class="button button-energized button-block">高職部 招生資訊</a>
    <a href-inappbrowser="http://bish.tw/jp/" id="page23-button16" style="font-weight:600;" class="button button-assertive button-block icon ion-android-add"> 國中—續招登記</a>
    <a href-inappbrowser="http://bish.tw/he/jp2/index.asp" id="page23-button17" style="font-weight:600;" class="button button-royal button-block icon ion-android-add"> 高中職—續招登記</a>
  </ion-content>
</ion-view>