<ion-view title="升學進路" id="page12">
  <ion-content padding="true" class="has-header">
    <div class="row">
      <div class="col">risulcol</div>
    
      <div class="col">duecocol</div>
      <div class="col">1dotto<br>2rotto<br>3cotto<br>4forse</div>
    </div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E78987148.GIFaltmediatoken3c4bf28b-4056-4d02-aa89-4cc6137e57fd" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>

  </ion-content>
</ion-view>