<ion-view title="學校網站" id="page6">
  <ion-content padding="true" class="has-header">
   
    <a href-inappbrowser="http://www.bish.tp.edu.tw/index.php" id="page6-button22" style="font-weight:600;color:#F4154F;" class="button button-assertive button-block button-outline icon ion-android-home"> 靜修女中 官方網站</a>
    <a href-inappbrowser="https://www.facebook.com/%E9%9D%9C%E4%BF%AE%E5%A5%B3%E4%B8%ADBlessed-Imeldas-School-%E5%AE%98%E7%B6%B2-324338398092881/" id="page6-button23" style="font-weight:600;color:#3364FA;" class="button button-positive button-block button-outline icon ion-android-person-add">
    靜修女中 官方FB</a>
   
  </ion-content>
</ion-view>