<ion-view title="Martinelli" id="page7">

      <ion-content padding="true" class="has-header">
     
     
    
        <div class="list card">
    
          <div class="item item-avatar">
            <img src="mcfly.jpg">
            <h2>Alfonso Martinelli</h2>
            <p>November 05, 1955</p>
          </div>
        
          <div class="item item-body">
            <img class="full-image" src="delorean.jpg">
            <p>
              Quel ramo del lago di Como che volge a mezzogiorno i un pantano immenso colorato di fiori! Nel mezzo del cammin di nostra vita ci ritrovammo tutti uniti.
            </p>
            <p>
              <a href="#" class="subdued">1 Like</a>
              <a href="#" class="subdued">5 Comments</a>
            </p>
          </div>
        
        </div>
      </ion-content>
 
</ion-view>