<ion-view title="Chiamaci e te ne pentirai!" id="page23">
  <ion-content padding="true" class="has-header">
    <a href="tel:+85255304748" id="page23-button37" style="font-weight:600;" class="button button-positive button-block">招生專線505或205</a>
    <div>
      <img src="img/AABIS_pics2FBISE68B9BE7949F-NEW-08E69C88.gifaltmediatoken2c293a93-b463-4e02-b141-0b0d31cf660e" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a href-inappbrowser="https://www.tiffestival.com" id="page23-button12" style="font-weight:600;" class="button button-calm button-block">國中部 招生資訊</a>
    <a href-inappbrowser="http://www.bish.tp.edu.tw/recruit.php?id=3" id="page23-button14" style="font-weight:600;" class="button button-balanced button-block">高中部 招生資訊</a>
    <a href-inappbrowser="http://www.bish.tp.edu.tw/recruit.php?id=1" id="page23-button15" style="font-weight:600;color:#1121EC;" class="button button-energized button-block">高職部 招生資訊</a>
    <div>
      <img src="img/AABIS_pics2F19VST3FRF6LHns1JAqyw_image_6483441.JPGaltmediatokenb14d2689-3ea4-4956-8829-4eb5b281f5c7" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a href-inappbrowser="http://bish.tw/jp/" id="page23-button16" style="font-weight:600;" class="button button-assertive button-block icon ion-android-add"> 國中—續招登記</a>
    <a href-inappbrowser="http://bish.tw/he/jp2/index.asp" id="page23-button17" style="font-weight:600;" class="button button-royal button-block icon ion-android-add"> 高中職—續招登記</a>
  </ion-content>
</ion-view>