<ion-view title="Ultime notizie!" id="page4">
  <ion-content padding="true" class="has-header">
    <div>
      <a style="display:block;" href-inappbrowser="https://www.tiffestival.com">
        <img src="img/AABIS_pics2F19VST3FRF6LHns1JAqyw_image_6483441.JPGaltmediatokenb14d2689-3ea4-4956-8829-4eb5b281f5c7" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <a href-inappbrowser="https://www.tiffestival.com" id="page4-button20" style="font-weight:600;" class="button button-positive button-block button-outline">Clicca le notizie</a>
    <div>
      <a style="display:block;" href-inappbrowser="https://www.youtube.com/watch?v=4wyc93m5z8M">
        <img src="img/AABIS_pics2FI4QjCG0bQCKKzE72EwjS_youtub.pngaltmediatokenb4bf44a5-a9b9-4b9a-afb2-0e192be443b9" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
   
  </ion-content>
</ion-view>