<ion-view title="Dante" id="page3">
  <ion-content padding="true" class="has-header">
 
 

    <div class="list card">

      <div class="item item-avatar">
        <img src="mcfly.jpg">
        <h2>Dante Alighieri</h2>
        <p>November 05, 1155</p>
      </div>
    
      <div class="item item-body">
        <img class="full-image" src="delorean.jpg">
        <p>
          Nel mezzo del cammin di nostra vita ci ritrovammo tutti uniti. Quel ramo del lago di Como che volge a mezzogiorno i un pantano immenso colorato di fiori!
        </p>
        <p>
          <a href="#" class="subdued">1 Like</a>
          <a href="#" class="subdued">5 Comments</a>
        </p>
      </div>
    
    </div>
  </ion-content>
</ion-view>