<ion-view title="學生宿舍" id="page11">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/AABIS_pics2FBISE68B9BE7949F-NEW-08E69C88-E5AEBFE8888D-2.gifaltmediatokene02c4cbf-181f-4279-a8cf-627642882100" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FBISE68B9BE7949F-NEW-08E69C88-E5AEBFE8888D.gifaltmediatoken5b238cfd-4c93-4d9b-93cb-3a5e0f2d708d" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>